# started from https://fvsch.com/base-stylesheet/

body {
    margin: 30; 
    padding: 10;
    line-height: 1.5;
    }
table {
    background: pink;
    padding: 20;
    width: 80%;
    font-family: 'Varela', sans-serif;
}