<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>PolVolSec Checklist</title>
</head>
<body>
<table align=center>
<tr><td>
  
    <h1>  <center> <font size=900> PolVolSec Tips </font> <br> </center> </h1>
    <h2> <center> <i>Security tips for political volunteers and campaigns</i> </center></h2>
    <h1>  <center>  &#128477;  </center> </h1>

{% if show_one %}
  <h2><i>Random tip: random-tip</i></h2>
{% endif %}
<br>

{% for item in tips %}
    {{ item }} <br>
{% endfor %}

<br>
 
{% for item in data %}
    {{ item }} <br>
{% endfor %}

</td></tr>
</table>
</body>