<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>PolVolSec Checklist</title>
</head>
<body>
<table align=center>
<tr><td>
  
    <h1>  <center> <font size=900> PolVolSec Tips<br> [being updated] </font> <br> </center> </h1>
    <h2> <center> <i>Security tips for political volunteers and campaigns</i> </center></h2>

{% if show_one %}
  <h2><i>Random tip: random-tip</i></h2>
{% endif %}
<br>

<h3>Basic</h3>
{% for item in basic %}
   - {{ item }} <br>
{% endfor %}

<h3>Intermediate</h3>
{% for item in intermediate %}
- {{ item }} <br>
{% endfor %}

<h3>Advanced</h3>
{% for item in advanced %}
- {{ item }} <br>
{% endfor %}

<h3>Campaign-specific</h3>
{% for item in campaigns %}
- {{ item }} <br>
{% endfor %}

<br><br><center><b>#</b></center><br>

<!-- 
<h4>Further reading</h4> 
-->

<br>
</td></tr>
</table>
<br>

Feedback and improvements: <a href="https://github.com/nickdimwill/nickdimwill.github.io/issues">add an issue</a>
<br>
License: <a href="https://opensource.org/licenses/MIT">MIT</a>

<br><br><br>
</body>